html, body {
  margin: 0 !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  @mixin light {
    background-color: #CED4DA;
  }

  @mixin dark {
    background-color: #3B3B3B;
  }
}